<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-primary">

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">CV Online</a>
      </li>
      <li class="nav-item">
        <a href="/resume" class="nav-link" *ngIf="isLoggedIn">Curriculum</a>
      </li>
      <li class="nav-item">
        <a href="/personal" class="nav-link" *ngIf="isLoggedIn" >Informacion Personal</a>
      </li>
      <li class="nav-item">
        <a href="/photo" class="nav-link" *ngIf="isLoggedIn">Foto</a>
      </li>
      <li class="nav-item">
        <a href="/education" class="nav-link" *ngIf="isLoggedIn">Educacion</a>
      </li>
      <li class="nav-item">
        <a href="/employment" class="nav-link" *ngIf="isLoggedIn">Trabajos</a>
      </li>
      <li class="nav-item">
        <a href="/skill" class="nav-link" *ngIf="isLoggedIn">Habilidades</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registro de Usuario</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Iniciar sesión</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Finalizar la sesión</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


